body {
color:white;

background-color:white;
background-image:url(file:http://www.image-fond-ecran.fr/resize.php?id=156);
}


div#content div{
	display: inline-block;
	width: 48%
}

div#content div h1, p {
margin: 35px

}

div#content div.leftbox{
vertical-align: top;
border-style: inset
}

div#content div.Géométrie{
	border-style: inset;
  width: 750px;
	height: 400px;
}

div#content div.rightbox{
border-style: inset;

	
}